*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #1F1F1F;
}
img{
    width: 100%;
}
/* .mainbody{
    background-image: url(img/rc.jpg);
    opacity:0.5;
    position:fixed;
    width:80%;
    margin-left:1%;
    margin-top:0%;
} */
/* header{
    width:60%;
    height: 60px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 2%;
} */
.logo{
    width: 180px;
    margin-top: 40px;
}
nav .logo{
    display: none;
}
nav ul{
    display: flex;
}
nav ul li a{
    color: #2F2F2F;
    display: block;
    margin: 0 2px;
    padding: 15px 20px;
    transition: 0.2s;
    text-decoration: none;
    
}
nav ul li a:hover{
    background: #F86D1A;
    color:#D9D9D9;
    text-decoration: none;
}
nav ul li a.active{
    background: #F86D1A;
    color:#D9D9D9;
}
.orange{
    background: #F86D1A;
    width: 23%;
    height: 65px;
    margin-left: 15%;
    margin-top: -2%;
}
.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    transition: 0.2s;
}
.hamburger:hover{
    background: #F86D1A;
}
.hamburger div{
    width: 30px;
    height: 2px;
    margin-right: 6px 0;
}
.mainbody{
    margin-top: 0px;
}
.car{
    width: 60%;
    float: right;
    margin-top: -25%;
}
.jumbotrontitle{
    width: 100%;
    margin-top: 15%;
    margin-left: 10%;
}
h1{
    font-size: 100px;
}
.buttn{
    margin-top: 3%;
    width: 50%;
}
.aboutuslogo{
    width: 40%;
    margin: auto;
    color: #D9D9D9;
}
.smalllogo{
    width: 20%;
    margin: auto;
}
#mechname{
    text-decoration: none;
    color: #D9D9D9;
}
table{
    width: 100%;
}
.coverphoto{
    background: #D9D9D9;
    width: 100%;
    height: 100px;
}
.backbutton{
    padding: 10px;
}

@media only screen and (max-width: 1100px){
    header{
        width:80%;
        padding: 0 20px;
    }
    nav{
        color: #D9D9D9;
        position: absolute;
        right: 0;
        top:0;
        z-index: 999;
        width: 60%;
        height: 100vh;
        transition: 0.2s;
        background-color: #2F2F2F;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav{
        right:0;
    }
    nav ul li a{
        color:#D9D9D9;
        text-decoration: none;
    }
    nav .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 15%;
    }
    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    nav ul li a{
        margin-bottom: 5px;
    }
    /* .hamburger{
        display: block;
    } */
}




